$main: #000;

$main-hover: #444444;
$main-click: #B2B2B2;
$promo: #5FD1BB;
$promo-hover: #52C2B2;
$placeholder-color: #444444;
/*buttons*/
$btn-bg: #000;
$btn-bg-hover: #000;
$btn-bg-click: #444444;

$btn-text: #444444;
$btn-text-hover: #fff;

$opacity-click: 0.3;
/*icons*/
$icon: #343434;
$icon-opacity: 0.2;
$icon-hover: #5FD1BB;

$size: #414141;
$size-hover: #6b6b6b;
$size-active: #5ED1BA;
